{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Categoria{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>Categoria</h1>
          <div class="list-group">
          {% for noticia in object_list %}
            <a href="{% url 'noticia' noticia.id %}" class="list-group-item">
              <div class="media col-md-3">
                <figure class="pull-left">
                  {% thumbnail noticia.imagen "350x250" crop="center" as im %} 
                  <img class="media-object img-rounded img-responsive"  src="{{im.url}}" alt="" >
                  {% endthumbnail %}
                </figure>
              </div>
              <div class="col-md-6">
                <h4 class="list-group-item-heading"> {{noticia.titulo_noticia}} </h4>
                <i><h6>por {{noticia.autor.nombre}}</h6></i>
                <p class="list-group-item-text"> {{noticia.descripcion}}
                </p>
              </div>
            </a>
            {% endfor %}
          </div>
      </div>
      <div class="col-lg-3 visible-lg">
          <img src="http://placehold.it/400x800" alt="Publicidad" class="img-responsive">
      </div>
      </div>
    </div>
  </section>
{% endblock %}