{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Home{% endblock %}
{% block content %}

 <section>
	<div class="container">
        <div class="well row">
          	<h3>Bienvenido!</h3>
          	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab, adipisci tempora velit mollitia est consequuntur laborum, ratione delectus quis iure, hic veritatis eligendi molestiae. Fugit porro dignissimos, sequi quam?</p>
        </div>
        <div class="row">
        {% for noticia in object_list %}
        <div class="col-xs-6 col-sm-4">
            {% thumbnail noticia.imagen "500x300" crop="center" as im %} 
            <img src="{{im.url}}" alt="" class="img-responsive img-thumbnail">
            {% endthumbnail %}
            <p><a href="/noticia">{{noticia.titulo_noticia}} </a></p>
            <p><span class="label label-info">{{noticia.categoria}}</span></p>
        </div>   
        {%endfor%}          
      </div>
    </div>
  </section>
{% endblock %}