{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Noticia{% endblock %}
{% block content %}

	<section>
		<div class="container">
		{% for noticia in object_list.noticiaDetalle %}
			<div class="row">
		        <div class="noticiaImg">
					{% thumbnail noticia.imagen "1200x450" crop="center" as im %} 
		            <img style="width:100%" src="{{im.url}}" />
					{% endthumbnail %}
		            <div class="profile">
						{% thumbnail noticia.autor.imagen "70x70" crop="center" as im %} 
		                <img class="photo-author img-circle" src="{{im.url}}" />
		                {% endthumbnail %}
		                <span class="name-author">por {{noticia.autor.nombre}}</span>
		            </div>
		            <h2 class="title">{{noticia.titulo_noticia}}</h2>

		        </div>
		        <!-- INFO -->
		        <div class="row">
		            <div class="col-xs-12">
		            	<h5 class="">{{noticia.fecha_creacion|date:"d M, Y"}}</h5>
		            	<h4 style="line-height: 25px;">{{noticia.descripcion}}</h4>
		            </div>
		        </div>
		        <div class="row row-eq-height" style="padding-right:15px">
		            <div class="col-xs-12 text">
		               <p>
		               	 {{noticia.contenido}}
		               </p>
		            </div>
		            <!-- Sidebar // advertising -->
		        </div>
			</div>
			{% endfor %}
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Comentarios</h3>
				</div><!-- /col-sm-12 -->
			</div><!-- /row -->
			<div class="row">
				{% for comentario in object_list.comentarioDetalle %}
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>{{comentario.lector.username}}</strong> <span class="text-muted">comentó hace {{comentario.fecha_creacion|timesince}}</span>
						</div>
						<div class="panel-body">
							{{comentario.contenido}}
						</div><!-- /panel-body -->
					</div><!-- /panel panel-default -->
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	
{% endblock %}