{% extends "base.html" %}
{% load static %}


{% block title %}Cuentas{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="row">
        <h2>Noticias</h2>
        <p class="text-right""><button href="noticia" class="btn btn-primary">Añadir</button></p>
        <table class="table table-striped table-hover ">
          <thead>
            <tr class="bg-primary">
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Fecha creación</th>
                <th>Comentarios</th>
            </tr>
          </thead>
          <tbody>
          {% for noticia in object_list.noticias %}
            <tr>
                <td><a href="noticias">{{noticia.titulo_noticia}}</a></td>
                <td>{{noticia.categoria}}</td>
                <td>{{noticia.fecha_creacion}}</td>
                <td><a href="#">Aspx.pdf</a></td> 
            </tr>
          {% endfor %}
          </tbody> 
        </table>
      </div>
      <hr>
      <div class="row">
        <h2>Categorias</h2>
        <p class="text-right""><a href="{% url 'addCat' %}" class="btn btn-primary">Añadir</a></p>
        <table class="table table-striped table-hover ">
          <thead>
            <tr class="bg-primary">
                <th>Categoria</th>
                <th>Fecha creación</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for categoria in object_list.categorias %}
            <tr>
                <td>{{categoria.nombre_categoria}}</td>
                <td>{{categoria.fecha_creacion}}</td>
                <td>
                  <a class="btn btn-primary" href="{% url 'editCat' categoria.id %}">Editar</a>
                  <a class="btn btn-danger" href="{% url 'delCat' categoria.id %}">Elminar</a>
                </td>
            </tr>
          {% endfor %}
          </tbody> 
        </table>
      </div>
    </div>
  </section>
{% endblock %}